<div id="carousel-homepage" class="carousel-homepage carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-homepage" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-homepage" data-slide-to="1"></li>
    <li data-target="#carousel-homepage" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active" style="background-image:url(/assets/header-services.jpg)">
      <div class="carousel-caption">
        <h1>Get in touch with us</h1>
        Ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditatea est.
      </div>
    </div>
    <div class="item" style="background-image:url(/assets/header-about.jpg)">
      <div class="carousel-caption">
        <h1>We worry about what is best</h1>
        Ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditatea est.
      </div>
    </div>
    <div class="item" style="background-image:url(/assets/header1.jpg)">
      <div class="carousel-caption">
        <h2>Beyond what is good</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-homepage" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-homepage" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  
  <div class="overlay"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Contact Us</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <form class="" action="index.html" method="post">
        <input type="text" name="name" class="form-control" value="" placeholder="Name" />
        <br>
        <input type="text" name="name" class="form-control" value="" placeholder="Email" />
        <br>
        <textarea name="name" class="form-control" rows="8" cols="40" placeholder="Your Message"></textarea>
        <br>
        <input type="submit" class="btn btn-default" name="name" value="Submit">
      </form>
    </div>
  </div>
</div>
