<% if notice %>
  <div class="alert-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-danger" role="alert"><%= notice %></div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div id="carousel-homepage" class="carousel-homepage carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  	<li data-target="#carousel-homepage" data-slide-to="0" class="active"></li>
  	<li data-target="#carousel-homepage" data-slide-to="1"></li>
  	<li data-target="#carousel-homepage" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
  	<div class="item active" style="background-image:url(assets/header1.jpg);">
  	  <div class="carousel-caption">
  	    <h1>Welcome to Prudential Capital Management</h1>
  	  </div>
  	</div>
  	<div class="item" style="background-image:url(assets/header-about.jpg);">
  	  <div class="carousel-caption">
  	    <h2>A city to be discovered</h2>
  	  </div>
  	</div>
  	<div class="item" style="background-image:url(assets/header-services.jpg);">
  	  <div class="carousel-caption">
  	    <h2>Unique Real Estate investment opportunities</h2>
  	  </div>
  	</div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-homepage" data-slide="prev">
     <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-homepage" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  <div class="overlay"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Sign  up for our Hot Property report</h1>
    </div>
  </div>
  <div class="row page-section">
    <div class="col-md-8">
     <h4 class="justified"> You're investing in debt, not equity, so in a market that moves at top speed, it is important to be updated when a hot deal comes up before it's snatched. Sign up with us to recieve notifications only when it matters. You can start participating as an accredited investor and fund projects with confidence in the hard asset of property.</h4>
    </div>
    <div class="col-md-4 button-container">
      <div type="button" class="btn-lg btn-success" data-toggle="modal" data-target="#myModal">Sign Up</div>
    </div>
  </div>

  <hr class="featurette-divider" style="border-color:#CCCCCC; margin-top:50px; margin-bottom:50px;" />

  <div class="row team-images">
    <div  class="col-md-6">
      <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="/assets/house-circle1.jpg" style="width: 200px; height: 200px;" />
    </div>
    <div  class="col-md-6">
      <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="/assets/house-circle2.jpg" style="width: 200px; height: 200px;">
    </div>
  </div>

  <div class="row team-description">
    <div  class="col-md-6 justified">
    High-end design meets one of Laguna Niguel’s most vibrant and culturally rich neighborhoods in this deluxe and modern family home that spans three levels beginning with its own private entry on the ground level and a roof deck that looks out over the beach and beyond.
124 Crestview is one of only five exclusive homes that were built as part of the highly desirable 300 Crestview project in 2013. Designed by renowned architecture firm, D&B, it features thoughtful design with a balance of substance and style. This incredibly special home stands out from the rest! It has been upgraded with designer touches throughout.

    </div>
    <div  class="col-md-6 justified">
      Enchanting, private, serene, hip, sophisticated… Located in the ultimate urban location, this light-filled two bedroom Victorian home features a separate and legal apartment down that is open, tranquil and walks out to a zen-like garden. This unique property affords many options: Owner’s home with in-law unit or private suite, 2 TIC’s with fast track condo conversion, or owner’s home with lower rental unit.
    </div>
  </div>

  <hr class="featurette-divider" style="border-color:#CCCCCC; margin-top:50px; margin-bottom:50px;" />

  <div class="row featurette">
        <div class="col-md-6" style="text-align:center;">
          <img class="img-responsive" style="display:inline-block;border-radius:5px;overflow:hidden; border:1px solid #cccccc; padding:2px" data-src="holder.js/350x350/auto" alt="House" src="/assets/house1.jpg">
        </div>
        <div class="col-md-6">
          <h2 class="featurette-heading">Yes, it's that easy. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead justified">
	    Unique real estate investments often require unique financing solutions. specific transactions might require higher loan-to-value, mezzanine finance, equity, or any combination thereof. <br/>Through our directly managed fund and relationships in the capital markets, Prudential Capital Management can design a capital stack tailored for any real estate investment.
	  </p>
        </div>
  </div>
</div>
