    <div id="carousel-homepage" class="carousel-homepage carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
	<li data-target="#carousel-homepage" data-slide-to="0" class="active"></li>
	<li data-target="#carousel-homepage" data-slide-to="1"></li>
	<li data-target="#carousel-homepage" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      	<div class="item active" style="background-image:url(/assets/header-about.jpg)">
      	  <div class="carousel-caption">
      	    <h1>We worry about what is best</h1>
      	    Ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditatea est.
      	  </div>
      	</div>
      	<div class="item" style="background-image:url(/assets/header1.jpg)">
      	  <div class="carousel-caption">
      	    <h2>A city to be discovered</h2>
      	  </div>
      	</div>
      	<div class="item" style="background-image:url(/assets/header-services.jpg)">
      	  <div class="carousel-caption">
      	    <h2>Beyond what is good</h2>
      	  </div>
      	</div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-homepage" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-homepage" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right"></span>
      </a>
      <div class="overlay"></div>
    </div>
<div class="container services">
  <div class="row">
    <div class="col-md-12" style="text-align:center">
      <h1 class="title">Prudential Capital Management <grey>originates and participates</grey> in various <grey>real estate</grey> debt and equity investments</h1>
    </div>
  </div>

  <hr class="featurette-divider" style="border-color:#CCCCCC; margin-top:50px; margin-bottom:50px;" />

  <div class="row services-icons">
    <div  class="col-md-3">
      <h3>Services Matter</h3>
      <div class="justified">Unique real estate investments often require unique financing solutions. specific transactions might require higher loan-to-value, mezzanine finance, equity, or any combination thereof. Through our directly managed fund and relationships in the capital markets, <b>Prudential Capital Management</b> can design a capital stack tailored for any real estate investment.</div>
    </div>
    <div  class="col-md-3 icon-holder">
      <span class="glyphicon glyphicon-home" style="color:#428BCA"></span>
    </div>
    <div  class="col-md-3 icon-holder">
      <span class="glyphicon glyphicon-flag" style="color:#ED9C28"></span>
    </div>
    <div  class="col-md-3">
      <h3>Value-Add</h3>
     <div class="justified">We have developed excellent relationships with repeat borrowers in the Real Estate Lending program. These relationships often provide opportunities to participate in joint ventures, debt/equity deals, or other creative partnerships on construction, flip or other value-add real estate projects.</div>
    </div>
  </div>

  <div class="row services-icons">
    <div  class="col-md-3">
      <h3>Never miss an opportunity</h3>
      <div class="justified">
	You're entitled to the best real estate counsel you can get. Here at Prudential Capital Management, you receive more than a transaction. We are Personal. Intelligent. Engaged. Thoughtful. Strategic. And most of all, effective.
      </div>
    </div>
    <div  class="col-md-3 icon-holder">
      <span class="glyphicon glyphicon-info-sign" style="color:#D2322D"></span>
    </div>
    <div  class="col-md-3 icon-holder">
      <span class="glyphicon glyphicon-calendar" style="color:#47A447"></span>
    </div>
    <div  class="col-md-3">
      <h3>State of the art Projections</h3>
     <div class="justified"><b>2nd Trust Deeds</b> junior positon notes often provide higher rates of return from 10% to 20% APY.</div>
    </div>
  </div>

  <hr class="featurette-divider" style="border-color:#CCCCCC; margin-top:50px; margin-bottom:50px;" />
</div>
