    <div id="carousel-homepage" class="carousel-homepage carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
	<li data-target="#carousel-homepage" data-slide-to="0" class="active"></li>
	<li data-target="#carousel-homepage" data-slide-to="1"></li>
	<li data-target="#carousel-homepage" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      	<div class="item active" style="background-image:url(/assets/header-about.jpg)">
      	  <div class="carousel-caption">
      	    <h1>We worry about what is best</h1>
      	    Ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditatea est.
      	  </div>
      	</div>
      	<div class="item" style="background-image:url(/assets/header1.jpg)">
      	  <div class="carousel-caption">
      	    <h2>A city to be discovered</h2>
      	  </div>
      	</div>
      	<div class="item" style="background-image:url(/assets/header-services.jpg)">
      	  <div class="carousel-caption">
      	    <h2>Beyond what is good</h2>
      	  </div>
      	</div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-homepage" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-homepage" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right"></span>
      </a>
      <div class="overlay"></div>
    </div>
<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align:center">
      <h1>Investing in real estate has always been a reliable path and answer</h1>
      <h4>
	Without question, real estate rehabbing can be rewarding and financially lucrative.
      </h4>
    </div>
  </div>
  <div class="row about-icons">
    <div  class="col-md-4">
      <span class="glyphicon glyphicon-th-list"></span>
    </div>
    <div  class="col-md-4">
      <span class="glyphicon glyphicon-map-marker"></span>
    </div>
    <div  class="col-md-4">
      <span class="glyphicon glyphicon-send"></span>
    </div>
  </div>
  <div class="row team-images">
    <div  class="col-md-4">
      	Today is the perfect time for investors to get started and achieve their financial dreams.  With some capital and Prudential Capital Management financing, average investors can now take advantage of the abundance of disposition properties for sale.
    </div>
    <div  class="col-md-4">
      	Our investors come from diverse backgrounds, however exposure to real estate, construction or maintenance, finance has allowed us to help tailor those insight for our clients. Our investors are very skilled and have a keen understanding of their local real estate market.
    </div>
    <div  class="col-md-4">
      	We are very thorough in our analysis on every deal. The acquisition price is key, as well as rehab budget and of course financing, carrying costs and finally sales expenses. Feel free to contact us with any further questions, comments, or concerns.
    </div>
  </div>

</div>
