grey {
    color:gray;
}
.services {
    .title {
	text-transform:uppercase;
	text-align:center;
    }
}

.services-icons {
    .icon-holder {
	text-align:center;
	font-size:7em;
    }
}

.blue {
    color:#428BCA;
}

.yellow {
    color:#ED9C28;
}

.red {
    color:#D2322D;
}

.green {
    color:#47A447;
}

.justified {
    text-align:justify;
}